<div class="logo">
<img class="logo__icon" src="/img/home-icon.png"/>
<span class="logo__text">
</span>
</div>
<nav class="app-nav">
	<ul class="app-nav__list">
		<li class="app-nav__list-item">
			<a class="app-nav__link app-nav__link--is-active" href="/">
				home
			</a>
		</li>
		<li class="app-nav__list-item">
			<a class="app-nav__link" href="dicts">
				dicts
			</a>
		</li>
		<li class="app-nav__list-item">
			<a class="app-nav__link" href="dict">
				dict
			</a>
		</li>
		<li class="app-nav__list-item">
			<a class="app-nav__link" href="type">
				typ
			</a>
		</li>
	</ul>
</nav>

