doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title KONTAKT ZE MNA
		link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet")
		link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css")
		link(rel="stylesheet" href="/css/main.css")
		link(rel="stylesheet" href="/css/styles_resp_flex.css")
	body
		header
			nav
				li
					a(href="/") Home
				li
					a(href="sloneczko") sloneczko
				li
					a(href="tictac") tic tac toe
				li
					a(href="zadania") zadania
		section.hero
			.background-image(style="background-image: url(assets/img/hero.jpg);")
			section.our-work
				ul.grid
					li.small(style="background-image: url(/img/coast.jpg);")
					li.large(style="background-image: url(/img/island.jpg);")
					li.large(style="background-image: url(/img/balloon.jpg);")
					li.small(style="background-image: url(/img/mountain.jpg);")
		.home
			header.app-header
		nav.app-nav
			ul.app-nav__list
				li.app-nav__list-item
					a.app-nav__link.app-nav__link--is-active(href="/") home
				li.app-nav__list-item
					a.app-nav__link(href="#") adopt dog
				li.app-nav__list-item
					a.app-nav__link(href="contact") contact
				li.app-nav__list-item
					a.app-nav__link(href="sloneczko") sloneczko
				li.app-nav__list-item
					a.app-nav__link(href="tictac") tic tac
				li.app-nav__list-item
					a.app-nav__link(href="zadania") zadania
		.user-app
			.wrapper
				section.slogan
					h1.slogan__header
						| Zaloguj się.
					p.slogan__text
						| Dużo korzysci po zalogowaniu się.
					.actions
						button.btn.btn--primary(@click="formLightbox=true") LOGOWANIE 
				footer.app-footer Staszko
			.lightbox(v-show="formLightbox==true" style="display:none ")
				.lightbox__content
					form.lightbox__form(action="/users" method="POST")
						.lightbox__form-control
							label.lightbox__label login
							input.lightbox__input(placeholder="enter your login" type="text" name="login")
						.lightbox__form-control
							label.lightbox__label password
							textarea.lightbox__input(placeholder="enter your password" rows="3" name="password")
						.lightbox__actions
							button.btn.btn--primary LOGOWANIE
		section.contact
			h3.title
			p A to jest mój newsletter. Na pewno go chcesz
			hr
			form
				input(type="email" placeholder="Email")
				a.btn(href="#") Subscribe now
		footer
			ul
				li
					a(href="http://twitter.com")
						i.fa.fa-twitter-square
				li
					a(href="http://facebok.com")
						i.fa.fa-facebook-square
				li
					a(href="http://snapchat.com")
						i.fa.fa-snapchat-square
				li
					a(href="http://pinterest.com")
						i.fa.fa-pinterest-square
				li
					a(href="http://github.com")
						i.fa.fa-github-square
			p
				| Idź do 
				a(href="http://tutorialzine.com/" target="_blank") stronki 'tutorialzine'
				| .
			p
				a(href="https://speckyboy.com/" target="_blank") darmowe templatki
				| .
			p
				| darmowe zdjęcia:  
				a(href="http://unsplash.com/" target="_blank") unsplash
				| .
		//
			<section class="our-work">
			<h3 class="title">Some of our work</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices. Morbi vitae pulvinar velit. Sed aliquam dictum sapien, id sagittis augue malesuada eu.</p>
			<hr>
			<ul class="grid">
			<li class="small" style="background-image: url(/img/coast.jpg);"></li>
			<li class="large" style="background-image: url(/img/island.jpg);"></li>
			<li class="large" style="background-image: url(/img/balloon.jpg);"></li>
			<li class="small" style="background-image: url(/img/mountain.jpg);"></li>
			</div>
			</section>
			<section class="features">
			<h3 class="title">Features and services</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices. Morbi vitae pulvinar velit. Sed aliquam dictum sapien, id sagittis augue malesuada eu.</p>
			<hr>
			<ul class="grid">
			<li>
			<i class="fa fa-camera-retro"></i>
			<h4>Photography</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices vitae pulvinar velit.</p>
			</li>
			<li>
			<i class="fa fa-cubes"></i>
			<h4>Web Development</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices vitae pulvinar velit.</p>
			</li>
			<li>
			<i class="fa fa-newspaper-o"></i>
			<h4>Content Editing</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices vitae pulvinar velit.</p>
			</li>
			</div>
			</section>
			</!
		script(src="https://cdn.jsdelivr.net/npm/vue" type="text/javascript")
		script(src="./js/app.js" type="text/javascript")
